/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
}

.margin-outer {
  margin: 10px 10px 10px 0;
  height: 200px;
}

.margin-left {
  margin-left: 10px;
}

.margin-top {
  margin-top: 10px;
}
